@tailwind base;
@tailwind components;
@tailwind utilities;

.n-button {
  font-weight: var(--n-font-weight);
  line-height: 1;
  background-color: var(--n-color);
  font-size: var(--n-font-size);
  background-color: var(--n-color);
  user-select: none;
}
